/* CSS Document */

#header {
width:100%;
height:70px;
background:#f1f1f1;
}
#sic {
width:150px;
height:70px;
background:url(../images/sicc.png) no-repeat;
float:left;
}
#logo {
width:70px;
height:70px;
float:right;
background:url(../images/logoFinanzas.png) no-repeat;
}
#centro {
width:100p%;
height:748px;
margin: 0 auto;
background:#FFFFFF;
background:url(../images/fondo2.png) no-repeat 150px;

}
#footer{
   width:100%;
   height:40px;
   background:#f1f1f1;
}
#botonera {
width:1000px;
height:350px;
margin: auto;
}
#firma {
width:254px;
height:45px;
margin:auto;
margin-top:10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 28px;
font-style: italic;
}
#examinar {
width:100px;
height:30px;
background:#f1f1f1;
float:left;
margin: 30px 0 0 310px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
padding-left:25px;
padding-top:10px;
border-radius:8px;
cursor:pointer;
}
#examinar:hover{
background:#00CCCC;
color:#FFFFFF;
}
#archivo {
width:220px;
height:30px;
float:left;
margin: 30px 0 0 40px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
padding-top:10px;
}
#ingresar {
width:100px;
height:30px;
background:#f1f1f1;
float:left;
margin: 30px 0 0 310px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
padding-left:25px;
padding-top:10px;
border-radius:8px;
cursor:pointer;
}
#ingresar:hover{
background:#00CCCC;
color:#FFFFFF;
}
#usuario {
width:220px;
height:25px;
float:left;
margin: 30px 0 0 35px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
padding-top:10px;
padding-left:60px;
color:#000000;

}





